%table#instance_list.table.table-striped.table-hover.table-bordered
	%tbody
	%tr
		%th Name
		%th Instance ID
		%th Controls
	- @instance_list.each do |instance|
		%tr.instance_row
			%td.instance_name= instance.name
			%td.instance_id= instance.id
			%td.controls= button_to "Wake Up", instance_start_path( instance_id: instance.id ), remote: true
				
